---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?limit=10&q-city_cont=Austin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 15 Sep 2022 03:25:52 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"ab81b5a37846eb43d9ff14780697e3e2"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '123'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '123'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"3470":{"name":"Mckinney Falls State Park","city":"Austin","state":"Texas","country":"United
        States","description":"Nice cruise through the woods, mixture of single track
        and jeep trail.  One loop probably will not be enough to wear you out.  The
        ride accross the top of the falls is pretty cool.","directions":"From IH35
        in Austin take 7th street east, follow the signs to 183 south towards lockhart.
        Take 183S to Scenic Loop Road which you will stay on til it dead ends at McKinney
        Falls Pkwy","lat":"30.1829","lon":"-97.7255","parent_id":"0","place_id":"3470","activities":{"mountain
        biking":{"url":"http:\/\/www.singletracks.com\/item.php?c=1&i=1322","length":"3","description":"Nice
        cruise through the woods, mixture of single track and jeep trail.  One loop
        probably will not be enough to wear you out.  The ride accross the top of
        the falls is pretty cool.","name":"Mckinney Falls State Park","rank":"0","rating":"3.30","thumbnail":"http:\/\/images.singletracks.com\/2014\/05\/mobile-1401323265.jpg","activity_type":"5","activity_type_name":"mountain
        biking","attribs":{"length":"3","nightride":"null"},"place_activity_id":"937363"}}},"3475":{"name":"Walnut
        Creek Trails","city":"Austin","state":"Texas","country":"United States","description":"Be
        careful after rains the trail gets slick.  Lots of cover by trees and plenty
        of fun jumps.  Watch out for runners and dogs.<br \/><br \/>Added by harryt:
        The trails in Walnut Creek park seem to be designed for you to create your
        own workout.  I haven''t mapped the entire crisscrossed system I imagine there
        is 15 miles of of sweet singletrack with some doubletrack and one jeep road.<br
        \/><br \/>There is little sustained elevation gain, but when trying to create
        a challenging work out I''ve gained over 2400 ft.  Trailhead for the main
        system of trails is near the pool parki[...]
