---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=72f0b31e1f016b468c89464109674f65&query=badrequest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - aab5f08f-a0e5-4877-8abd-c4cf2426cfc2
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24980'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.069'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 24 Oct 2022 23:34:13 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=3&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-795c4bc4c5-zp2xl; site=public_api_v3
      X-Zipkin-Id:
      - ba2981cbdc447c12
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-112-70-uswest2aprod
      X-Extlb:
      - 10-69-112-70-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Mon, 24 Oct 2022 23:34:14 GMT
recorded_with: VCR 6.1.0
