---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=72f0b31e1f016b468c89464109674f65&query=badrequest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 29e1f871-91b4-49f8-8a05-79bb501e42d9
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24982'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.056'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 24 Oct 2022 23:34:12 GMT
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat=badrequest&limit=3&lon=badrequest&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Mon, 24 Oct 2022 23:34:12 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"177f8af5bdc780abe7407a9cae90efcd"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '14023'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '14023'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-east-1
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid_input","message":"For geo search, lat, lon, and radius
        must all be non-zero.","data":{"status":404}}'
  recorded_at: Mon, 24 Oct 2022 23:34:12 GMT
recorded_with: VCR 6.1.0
