---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=3&location=&sort_by=rating&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 0d90b9c33fddcb10
      X-Routing-Service:
      - routing-main--uswest2-5df757bcc-h2j2p; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Fri, 16 Sep 2022 21:38:57 GMT
recorded_with: VCR 6.1.0
