---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?limit=10&q-city_cont=not%20a%20real%20place
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Fri, 16 Sep 2022 20:10:08 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"8697306e2d4ad0be5a64efab5f99d2e9"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '26267'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '26267'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":"no_results","message":"No results found.","data":{"status":404}}'
  recorded_at: Fri, 16 Sep 2022 20:10:09 GMT
recorded_with: VCR 6.1.0
