---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=10&location=not%20a%20real%20place&sort_by=rating&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--uswest2-75476dc786-nnn2d; site=public_api_v3
      X-Zipkin-Id:
      - 44151c91f565f760
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-130-205-uswest2bprod
      X-Extlb:
      - 10-69-130-205-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Thu, 15 Sep 2022 07:29:04 GMT
recorded_with: VCR 6.1.0
