---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=10&location=&sort_by=rating&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-canary--uswest2-75476dc786-89zz4; site=public_api_v3
      X-Zipkin-Id:
      - 0f3c31e2c40412d1
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-130-205-uswest2bprod
      X-Extlb:
      - 10-69-130-205-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Fri, 16 Sep 2022 18:37:20 GMT
recorded_with: VCR 6.1.0
