---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&limit=3&location=&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-5bf7989844-xmvmb; site=public_api_v3
      X-Zipkin-Id:
      - dd9d76527ff2d2d9
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-184-36-uswest2bprod
      X-Extlb:
      - 10-69-184-36-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "'''' is too
        short", "field": "location", "instance": ""}}'
  recorded_at: Wed, 21 Sep 2022 02:47:46 GMT
recorded_with: VCR 6.1.0
