---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?limit=10&q-city_cont=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Fri, 16 Sep 2022 20:10:07 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"9352bf564c447f84f8316012f3236ef0"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '26268'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '26268'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"694":{"name":"Green Mountain","city":"Denver","state":"Colorado","country":"United
        States","description":"This park has three parking areas. The loop is the
        same from all. From any trailhead, begin a clockwise loop in the park. On
        the south-east sides of the park, this loop maintains fairly constant elevation
        as it winds around the base of Green mountain. On the north west side of the
        mountain, a jeep road will take you to the top. On top, follow the jeep road
        past the radio towers, and back onto singletrack on the south east leg of
        the loop. Descend this singletrack, and finish the loop back to your car.","directions":"From
        I-25, take 6th Ave. west. Drive approximately 6 miles to Kipling. Take Kipling
        south for 2 miles before taking a right on Alameda. Stay on Alameda for 3
        miles until you see a parking area on the right. This trail is part of William
        Frederick Hayden Park.","lat":"39.6967","lon":"-105.1922","parent_id":"0","place_id":"694","activities":{"mountain
        biking":{"url":"http:\/\/www.singletracks.com\/item.php?c=1&i=14","length":"7","description":"This
        park has three parking areas. The loop is the same from all. From any trailhead,
        begin a clockwise loop in the park. On the south-east sides of the park, this
        loop maintains fairly constant elevation as it winds around the base of Green
        mountain. On the north west side of the mountain, a jeep road will take you
        to the top. On top, follow the jeep road past the radio towers, and back onto
        singletrack on the south east leg of the loop. Descend this singletrack, and
        finish the loop back to your car.","name":"Green Mountain","rank":"0","rating":"3.32","thumbnail":"http:\/\/images.singletracks.com\/2009\/trails\/01\/14-1180981080.jpg","activity_type":"5","activity_type_name":"mountain
        biking","attribs":{"length":"7","nightride":"1"},"place_activity_id":"936404"},"hiking":{"url":"http:\/\/www.tripleblaze.com\/trail.php?c=3&i=275","length":"7","description":"With
        more than 2,400 acres of open space, William Frederick Hayden Park on Green
        Mountain is the second largest park in Lakewood. &lt;br \/&gt;<br \/>The park
        features a challenging network of multi-use trails. The summit, at 6,800 feet,
        offers unique and stunning views of the Denver metropolitan area to the east,
        as well as high mountain peaks to the west.","name":"Green Mountain--William
        Frederick Hayden Park","rank":"0","rating":"0.00","thumbnail":"http:\/\/images.tripleblaze.com\/2009\/02\/275-1223987631.jpg","activity_type":"2","activity_type_name":"hiking","attribs":{"length":"7"},"place_activity_id":"[...]
