---
http_interactions:
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?limit=3&q-city_cont=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<trail_api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Fri, 16 Sep 2022 21:38:55 GMT
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Etag:
      - '"d30dd14273f448b6316002bf4f19aa76"'
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '20940'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '20940'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"694":{"name":"Green Mountain","city":"Denver","state":"Colorado","country":"United
        States","description":"This park has three parking areas. The loop is the
        same from all. From any trailhead, begin a clockwise loop in the park. On
        the south-east sides of the park, this loop maintains fairly constant elevation
        as it winds around the base of Green mountain. On the north west side of the
        mountain, a jeep road will take you to the top. On top, follow the jeep road
        past the radio towers, and back onto singletrack on the south east leg of
        the loop. Descend this singletrack, and finish the loop back to your car.","directions":"From
        I-25, take 6th Ave. west. Drive approximately 6 miles to Kipling. Take Kipling
        south for 2 miles before taking a right on Alameda. Stay on Alameda for 3
        miles until you see a parking area on the right. This trail is part of William
        Frederick Hayden Park.","lat":"39.6967","lon":"-105.1922","parent_id":"0","place_id":"694","activities":{"mountain
        biking":{"url":"http:\/\/www.singletracks.com\/item.php?c=1&i=14","length":"7","description":"This
        park has three parking areas. The loop is the same from all. From any trailhead,
        begin a clockwise loop in the park. On the south-east sides of the park, this
        loop maintains fairly constant elevation as it winds around the base of Green
        mountain. On the north west side of the mountain, a jeep road will take you
        to the top. On top, follow the jeep road past the radio towers, and back onto
        singletrack on the south east leg of the loop. Descend this singletrack, and
        finish the loop back to your car.","name":"Green Mountain","rank":"0","rating":"3.32","thumbnail":"http:\/\/images.singletracks.com\/2009\/trails\/01\/14-1180981080.jpg","activity_type":"5","activity_type_name":"mountain
        biking","attribs":{"length":"7","nightride":"1"},"place_activity_id":"936404"}}},"708":{"name":"Red
        Rocks \/ Dakota Ridge","city":"Denver","state":"Colorado","country":"United
        States","description":"From the parking lot, cross CO 26, and ascend the jeep
        road that you will see on the east. Follow for 3 miles. This section of trail
        is called Dakota Ridge. A couple of tough climbs, but mostly just riding the
        ridge. Lot\\''s of slick rock. (pretty technical) You can see Denver to the
        left, and Red Rocks Park to the righ[...]
