---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&limit=3&location=Denver&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Resettime:
      - '2022-09-22T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5bf7989844-74flg; site=public_api_v3
      X-Zipkin-Id:
      - 2f804cb642e05b58
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4998'
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-173-40-uswest2bprod
      X-Extlb:
      - 10-69-173-40-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "F09UpZ29XZkt3TVS3tiJGw", "alias": "harleys-a-hot-dog-revolution-littleton-2",
        "name": "Harley''s A Hot Dog Revolution", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/HODxJ7lFzFvULbu3_nd1zQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/harleys-a-hot-dog-revolution-littleton-2?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 1011, "categories": [{"alias": "hotdog", "title": "Hot Dogs"},
        {"alias": "tradamerican", "title": "American (Traditional)"}], "rating": 5.0,
        "coordinates": {"latitude": 39.61165944414922, "longitude": -105.00606371132415},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "1500 W Littleton Blvd", "address2": "Ste 112", "address3": "", "city": "Littleton",
        "zip_code": "80120", "country": "US", "state": "CO", "display_address": ["1500
        W Littleton Blvd", "Ste 112", "Littleton, CO 80120"]}, "phone": "+17202369617",
        "display_phone": "(720) 236-9617", "distance": 14110.151179688173}, {"id":
        "jaK6RSHeYQflsswWfyynbA", "alias": "smith-canon-ice-cream-denver", "name":
        "Smith+Canon Ice Cream", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/PHEoGzyK89fJRjQwVbEBTw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/smith-canon-ice-cream-denver?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 197, "categories": [{"[...]
