---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=72f0b31e1f016b468c89464109674f65&query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - eb89f147-13e9-4307-b536-9b2fc47cc061
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24985'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.186'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.740959,"longitude":-104.985798,"type":"locality","name":"Denver","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":"Denver","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver,
        CO, USA"},{"latitude":39.741107,"longitude":-104.98702,"type":"county","name":"Denver
        County","number":null,"postal_code":null,"street":null,"confidence":0.4,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":null,"administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver County,
        CO, USA"},{"latitude":39.19312,"longitude":-83.05574,"type":"local[...]
