---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=10&location=Austin&sort_by=rating&term=restaurants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp_api_key>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4978'
      X-Zipkin-Id:
      - '0915f7ff9acdcb06'
      Ratelimit-Resettime:
      - '2022-09-16T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5df757bcc-4sf5j; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Mode:
      - ro
      X-Proxied:
      - 10-69-152-12-uswest2bprod
      X-Extlb:
      - 10-69-152-12-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "puse310xumoKI0WMHNXnRA", "alias": "t-locs-sonora-hot-dogs-austin-4",
        "name": "T-Loc''s Sonora Hot Dogs", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/HHyTr44O1_Xp8sYuTpKU8g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/t-locs-sonora-hot-dogs-austin-4?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 503, "categories": [{"alias": "hotdog", "title": "Hot Dogs"},
        {"alias": "foodtrucks", "title": "Food Trucks"}, {"alias": "tacos", "title":
        "Tacos"}], "rating": 5.0, "coordinates": {"latitude": 30.32118, "longitude":
        -97.7395}, "transactions": ["pickup", "delivery"], "price": "$", "location":
        {"address1": "5000 Burnet Rd", "address2": null, "address3": "", "city": "Austin",
        "zip_code": "78756", "country": "US", "state": "TX", "display_address": ["5000
        Burnet Rd", "Austin, TX 78756"]}, "phone": "+15129948982", "display_phone":
        "(512) 994-8982", "distance": 2493.351161302182}, {"id": "woW_kIDB_Sv1AJAx4F8-qA",
        "alias": "jim-s-smokehouse-austin", "name": "Jim\u2019s Smokehouse", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/VtzcGxGSn6VwVAe-Noj1RQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/jim-s-smokehouse-austin?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 144, "categories": [{"alias": "fo[...]
